[submodule "zglfw"]
    path = libs/zglfw
    url = https://github.com/zig-gamedev/zglfw.git

[submodule "zopengl"]
    path = libs/zopengl
    url = https://github.com/zig-gamedev/zopengl.git

[submodule "zgui"]
    path = libs/zgui
    url = https://github.com/abdullah-b-al/zgui.git
